body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    color:#5f5b55;
    font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}
#app {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --primary-color: #3278F0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.el-button {
    background-color: var(--primary-color);
    color: white;
    margin-top: 0.5em;
}

.el-radio, .el-checkbox {
    font-weight: normal;
}

.el-divider + span {
    margin: 0 0 0.3em 0;
}

.el-input__inner {
    display: block;
}

.text-tip {
    display: block;
    position: absolute;
    color: black;
    font-size: smaller;
    opacity: 80%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#canvas-container-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.number-of-sample {
    font-size: smaller;
}

.content_container {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;
}

#subject_model_info_panel {
    width: 20rem;
    padding: 20px;
    background-color: rgb(244, 244, 244);
    border-right: 1px solid #e1e1e1;
    overflow-y: auto; 
}
#opration_bar{
    background-color: rgb(244, 244, 244);
    width: 100%;
    height: 50px;
}

#advanced_panel {
    width: 20rem;
    padding: 20px;
    background-color: rgb(244, 244, 244);
    border-left: 1px solid #e1e1e1;

    overflow-y: auto;
}


#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
}

.header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
}

#footer {
    position: relative;
    bottom: 0;
    background-color: rgb(244, 244, 244);
    border-top: 1px solid #e1e1e1;
}
.el-checkbox__input.is-checked+.el-checkbox__label{
    color: var(--primary-color);
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.tutorial_btn{
    position:fixed;
    top: 80px;
    right:0px;
    font-size: 20px;
}
.el-radio__input.is-checked+.el-radio__label {
    color: var(--primary-color);
}

.el-radio__input.is-checked .el-radio__inner{
    border-color: var(--primary-color);
    background: var(--primary-color);
}
.setting-item{
    display:flex;
    height: 30px;
    line-height: 30px;
    justify-content: space-between;
}
.el-tabs__item.is-active{
    color: var(--primary-color);
}
.el-tabs__active-bar{
    background-color:  var(--primary-color);
}
.el-tabs__item:hover{
    color: var(--primary-color);
}
.query-row{
    display:flex;
    height: 54px;
    line-height: 54px;
    margin-top: 10px;
}
#currHover {
    position: fixed; 
    z-index: 1000;
    font-size: 14px;
    background-color: white; 
    border: 1px solid; 
    padding: 10px;
    cursor: move;
    top: 70px; 
    left: 400px; 
    max-width: 300px;
    border-radius: 20px;
  }
#hoverLabel {
    position: absolute;
    display: none;
    pointer-events: none;
    transform: translate(5px, -5px);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color:black;
    opacity: 40%;
    /* font-size: smaller; */
}
#fixedHoverLabel {
    position: absolute;
    display: none;
    color: green; 
    font-size: 20px; 
    pointer-events: none;
    font-weight: bold;
}
#visMethodInput {
    position: relative;
    top:2vh;
}
.advanced-query-row{
    display:flex;
    height: 10vh;
    line-height: 10vh;
}
.switch-container {
    position: relative;
    height: 30px;
}
.el-switch__core{
    width: 50px;
}

.switch-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align:center;
    font-size: 14px;
    background-color: #ccc;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.switch-input:checked + .switch-label {
    background-color: #5cb85c;
}

.el-switch__label.is-active{
    color: var(--primary-color);
}
.el-switch.is-checked .el-switch__core {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}

#resultContainer {
    max-height: 20vh; 
    overflow-y: auto;  
  }
  
.modal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.modal-column {
    width: 38%;
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

pre {
    background-color: #e8e8e8;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}
pre.highlight {
    background-color: #f0f0f0;
    border-radius: 5px;
    white-space: pre-wrap; /* 保留空白字符并换行 */
}
.highlight span {
    display: inline; /* 使 span 元素按行内元素显示 */
}

#play-timeline-button {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-position: 50% 50%;

    transition: background 0.1s, box-shadow 0.1s;

    border: none;
    background-color: var(--primary-color);
    color: white;

    cursor: pointer;
}

#play-timeline-button:hover {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#play-timeline-button.play {
    background-image: url('assets/play_arrow_24dp_UNDEFINED_FILL1_wght400_GRAD0_opsz24.svg');
}

#play-timeline-button.pause {
    background-image: url('assets/pause_24dp_UNDEFINED_FILL1_wght400_GRAD0_opsz24.svg');
}

.el-tabs__header {
    padding: 0 1em;
}

#footer {
    display: flex;
    flex-direction: column;
}

.footer-tabs {
    display: flex;
    flex-direction: column;
    min-height: 10em;
    max-height: 20em;
}

.footer-tabs .el-tabs__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
}

.footer-tabs .el-tab-pane {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 0;

    overflow: auto;
}

.tokens-overview-content {
    display: flex; 
    justify-content: center; 
    min-height: 0;
    
    margin: 0;
    padding: 0.5em 0;
}

.tokens-overview-pre {
    flex: 1 1 0%;

    max-width: 30vw;
    margin: 0.5em 1em;
    padding: 0.5em;
    box-sizing: content-box;
    overflow-y: auto;
}

.token-highlighted {
    font-weight: bold;
    color: red;
    background-color: rgba(0, 255, 255, 0.3);
}

#timeline-container {
    flex: 1 0 auto;
    width: fit-content;
    padding: 0 1em;
}

#timeline {
    display: flex;
    align-items: end;
}

#timeLinesvg {
    width: 0px;
    height: 0px;
    flex: 1 0 auto;
}

#play-timeline-button {
    flex: 1 0 auto;
}
